* {
    box-sizing: border-box;
}
html {
    height: 100%;

    body {
        font-family: "Work Sans", sans-serif;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.parent-container {
    header {
        display: flex;
    }
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        .accordion-heading {
            display: flex;
        }
    }
}
.attribution {
    position: absolute;
    bottom: 0;
}